body{
    font-family: 'Roboto', sans-serif !important;
    background-color: #f1f5f8 !important;
}
.sidebar-grid{
    max-width: 1130px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0  15px;
}
header{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding:10px;
    background-color: #fff;
}
.project-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}